body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


nav{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 16px;
    align-items: center;
}

.links{
    display: flex;
}

ul {
    list-style-type: none;
}

li{
    padding: 6px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

footer{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    color: #e5e7eb;
    font-size: 18px;
    padding: 32px;
}